.btn{
    background-color: rgb(46, 125, 46);
    color: #ffffff;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(58, 100, 76);
}