@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Pacifico&display=swap');
@import url('button.css');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans', sans-serif;
    color: black;
    line-height: 25px;
}

a{
    text-decoration: none;
}

#header{
    width: 100vw;
    height: 620px;
    background: #000 no-repeat fixed;
    background-image: url("../images/FundoIndexjpg2.jpg");
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 30px;
}

#header h1{
    text-shadow: 5px 5px 8px black;
    font-size: 68px;
    color: white;
    padding-bottom: 30px;
}
#header a{
    color: white;
}

#header .title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}


.link-interno{
    text-decoration: none;
    color: red;
    font-size: 30px;
}
#tabela{
    border: solid 1px black;
    color: black;
}

#tabela tbody tr:nth-child(even){
    background-color: gray;
}
#tabela tbody tr:nth-child(odd){
    background-color: rgba(40,30,100,0.5);
}

ul li{
    color: darkred;
}